<h1><%= @group.title %></h1>

<p>
  <%= simple_format(@group.description) %>
</p>

<div class="pull-right">
  <% if current_user.is_member_of?(@group) %>
    <%= link_to("退出群组", quit_group_path,method: :post, class: :'btn btn-danger') %>
    <label class="label label-success">群组成员</label>
    <%= link_to("新增文章", new_group_post_path(@group), class: :"btn btn-primary") %>
  <% else %>
    <%= link_to("加入群组", join_group_path, method: :post, class: :"btn btn-info") %>
    <label class="label label-warning">不是群组成员</label>
  <% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>文章内容</th>
      <th>发表时间</th>
      <th>管理选项</th>
    </tr>
  </thead>
  <tbody>
    <% @group.posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.content %></td>
        <td><%= post.created_at %></td>
        <td>
          <% if current_user && current_user == post.user %>
            <%= link_to("编缉文章", edit_group_post_path(post.group,post), class: :"btn btn-success btn-xs") %>
            <%= link_to("删除文章", group_post_path(post.group,post),method: :delete, class: :"btn btn-danger btn-xs") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
